# Logs
logs
*.log

# Dependency directory
node_modules

# build files
build

# assets folder of demo
demo/js
demo/css/orgchart.min.css
demo/css/fonts
demo/css/vendor

# bundle files after webpack
bundle*.js
bundle*.js.map